<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appchallenge_lineplus_android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:roundIcon="@drawable/ic_app_logo"
        android:label="메모라인"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".ui.loading.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.detailmemo.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.modify.ModifyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.detailmemo.imageviewpager.DetailMemoImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ImagePicker.PhotoPickerActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>